body {
    background-image: url('https://images.pexels.com/photos/28310734/pexels-photo-28310734/free-photo-of-a-sunset-over-a-body-of-water-with-mountains-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}